<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Whole New World</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid" style="background-color: #17633e">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: #FFFFFF">TheRealHacktorUnchained</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active" style="color: #FFFFFF"><a href="#">Home</a></li>
            <li><a href="#" style="color: #FFFFFF">Users</a></li>
            <li><a href="#" style="color: #FFFFFF">Groups</a></li>
            <li><a href="https://de.wikipedia.org/wiki/Informationssicherheit" style="color: #FFFFFF">IT-Sicherheit</a>
            <li><a href="/accountManagement/logout" style="color: #FFFFFF">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    {% block content %}
    {% endblock %}
</div>

</body>
</html>