<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Whole New World</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../static/accountManagement/style.css">
</head>
<body class="body">
<div class="bgdiv">

</div>
<div class="window">
    <div class="form">
        <div class="logo">
            <img class="imglogo" src="../../static/accountManagement/images/logo.png" alt="TheRealHacktor">
        </div>
        <form class="loginform" action="/accountManagement/" method="post">
            {% csrf_token %}
            <div class="form-group has-feedback has-feedback-left">
                {{ loginForm.username.errors }}
                <label class="control-label sr-only" for="username"></label>
                <input name="username" value="{{ username }}" type="text" placeholder="Username" class="form-control"
                       id="username">
                <i class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></i>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                {{ loginForm.password.errors }}
                <label class="control-label sr-only" for="password"></label>
                <input name="password" value="{{ password }}" type="password" placeholder="Passwort"
                       class="form-control" id="password">
                <i class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></i>
            </div>
            <button type="submit" class="btn btn-success">
                Submit
            </button>
        </form>
    </div>
</div>
<div>
    <p style="position: absolute; color: #FFFFFF; margin-bottom: 3px;margin-right: 3px; bottom: 0; right: 0;">@designed by finnmasurat</p>
</div>
</body>
</html>









